@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}


.imagepage {
	position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, transparent 40%, black 100%);
    z-index: 10;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}
.section-title span {
	color: crimson;
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: crimson;
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: crimson;
}


.brand img  {
	height: 60px;
}

.project2 img {
	height: 60px;
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: .3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: crimson;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: .3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Hero Section */
.hero {
	background-image: url(./img/main-V2.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
.hero-v2 {
	background-image: url(./img/Hyper-Scape-Cover.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#video {
	background-position: url(https://youtu.be/EF3iv9F4LH4);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}

.hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .7;
	z-index: -1;
}
.hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
.hero h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal .5s ease forwards;
	animation-delay: 1s;
}
.hero h1:nth-child(1) {
	animation-delay: 1s;
}
.hero h1:nth-child(2) {
	animation: text_reveal_name .5s ease forwards;
	animation-delay: 2s;
}

.hero h1:nth-child(3) {
	animation: text_reveal_name .5s ease forwards;
	animation-delay: 3s;
}
.hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: crimson;
	animation: text_reveal_box 1s ease;
	animation-delay: .5s;
}
.hero h1:nth-child(1) span {
	animation-delay: .5s;
}
.hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
.hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}

/* End Hero Section */

/* Services Section */
#services .services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#services .service-top {
	max-width: 500px;
	margin: 0 auto;
}
#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#services .service-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(./img/img-1.png);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: .9;
	z-index: -1;
}
#services .service-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}
#services .service-item h2 {
	font-size: 2rem;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#services .service-item p {
	color: white;
	text-align: left;
}
/* End Services Section */

/* Projects section */
#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#projects .projects-header h1 {
	margin-bottom: 50px;
}
#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#projects .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
#projects .project-info h1 {
	font-size: 4rem;
	font-weight: 500;
}
#projects .project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#projects .project-info p {
	color: white;
}
#projects .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: .7;
}
#projects .project-img img {
	transition: .3s ease transform;
}
#projects .project-item:hover .project-img img {
	transform: scale(1.1);
}
/* End Projects section */

/* About Section */
#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
#about .col-left {
	width: 250px;
	height: 360px;
}
#about .col-right {
	width: 100%;
}
#about .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: .2rem;
	margin-bottom: 10px;
}
#about .col-right p {
	margin-bottom: 20px;
}
#about .col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
#about .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white;
}
#about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid crimson;
	z-index: -1;
}
/* End About Section */

/* contact Section */
#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
}
#contact .contact-items {
	width: 400px;
}
#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: .3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
/*End contact Section */

/* Footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: .1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: .3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */

	/* Services Section */
	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End Services Section */

	/* Project */
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
	/* End Project */

	/* About */
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid crimson;
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	/* End About */

	/* contact  */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
.iframe-container{
	position: relative;
	width: 100%;
	padding-bottom: 56.25%; 
	height: 0;
}
.iframe-container iframe{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}

.image12 {
	box-sizing: border-box;
    margin-top: 50px;
	flex: 1 1 auto;
	display: flex;
    flex-direction: column;
    -webkit-box-align: center;
	align-items: center;
}

.card{
	background: #DC143C;
	width: 350px;
	padding: 3rem;
	position: left;
}

.card__image {
	color: #e4e4e4;
	font-size: 5rem;
	margin-bottom: .5em;
}

.videos15{
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: left;
	justify-content: left;
}
.videos14{
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: right;
	justify-content: right;
}

.wrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

header img {
  float: left;
  width: 200px;
  margin-left: -12px;
  padding: 13px 80px 20px 0;
}

header ul.menu-left {
  float: left;
}

header ul.menu-left li {
  display: inline-block;
  padding: 20px;
}

header ul.menu-left li a {
  color: #606c7c;
  transition: ease-in 0.2s;
}

header ul.menu-left li a:hover {
  color: rgb(248, 38, 84);
}

header ul.menu-right {
  float: right;
}

header ul.menu-right li.menu-cta {
  width: 150px;
  margin-top: 0.7em;
  padding: 0.5em;
  transition: 0.3s all ease;
  text-align: center;
  border-radius: 3px;
  background: white;
  box-shadow: 2px 4px 9px 1px rgba(0, 0, 0, 0.05);
}

header ul.menu-right li.menu-cta a {
  font-weight: 500;
  color: rgb(248, 38, 84);
}

/* Intro Page
--------------------- */

#intro {
  position: relative;
  overflow: hidden;
  min-height: 600px;
  padding-top: 9em;
}

#intro .top-right-gradient {
  position: absolute;
  top: -40%;
  right: -30%;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background: linear-gradient(#ee9ca7, #ec4357);
}

#intro .intro-left {
  display: inline-block;
  width: 100%;
  max-width: 400px;
  padding: 3em 0;
}

#intro .intro-left h1 {
  font-size: 2.5em;
  color: #241b57;
  line-height: 1.5em;
  position: relative;
  margin-bottom: 1em;
}

#intro .intro-left h1:after {
  position: absolute;
  bottom: -24px;
  left: 0;
  width: 40px;
  height: 4px;
  content: "";
  border-radius: 5px;
  background: #ec4357;
  opacity: 0.4;
}

#intro .intro-left p {
  font-size: 1.125em;
  line-height: 1.75em;
}

#intro .intro-left a.intro-cta {
  font-weight: 500;
  display: block;
  width: 100%;
  max-width: 180px;
  margin-top: 2em;
  padding: 1em;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  background: #ec4357;
}

#intro .intro-right {
  position: relative;
  display: inline-block;
  margin-left: 6em;
  padding-top: 80px;
}

#intro .intro-right img {
  max-width: 600px;
}

#intro .bottom-left-gradient {
  position: absolute;
  bottom: 10px;
  left: -9%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(#c779d0, #4bc0c8);
}

/* About Section */

#about {
  position: relative;
  overflow: hidden;
  min-height: 600px;
}

#about .about-left {
  display: inline-block;
}

#about .about-left img {
  padding-bottom: 0.5em;
  max-width: 500px;
}

#about .about-right {
  display: inline-block;
  width: 100%;
  max-width: 400px;
  margin-left: 10em;
}

#about .about-right h1 {
  font-size: 2.5em;
  line-height: 1.5em;
  position: relative;
  margin-bottom: 1em;
  color: #ec4357;
}

#about .about-right h1::after {
  position: absolute;
  bottom: -24px;
  left: 0;
  width: 40px;
  height: 4px;
  content: "";
  border-radius: 5px;
  background: #241b57;
  opacity: 0.2;
}

#about .about-right p {
  font-size: 1.125em;
  line-height: 1.75em;
}

#about .about-right a.cta {
  position: relative;
  font-weight: 600;
  z-index: 99;
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 2em 0 1em;
  padding: 1em;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  background: #241b57;
}

#about .top-right-gradient {
  position: absolute;
  z-index: -999;
  top: 45%;
  right: -10%;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: linear-gradient(#ee9ca7, #ec4357);
}

/* Page Banner */

.page-banner {
  background: url("../images/banner.png") no-repeat;
  background-size: cover;
  padding: 130px;
  text-align: center;
}

.page-banner h1 {
  font-size: 2.8em;
  font-weight: 500;
  color: #fff;
}

.page-banner h3 {
  color: #fff;
  margin-bottom: 35px;
  font-weight: 300;
}

.page-banner a {
  color: #fff;
  font-weight: 400;
  max-width: 400px;
  margin: 3em 0;
  padding: 1em 3em;
  text-align: center;
  border-radius: 3px;
  background: #241b57;
}

/* Footer */

footer {
  background-color: #fff;
  width: 100%;
  text-align: left;
  padding: 50px 0;
}

footer .footer-left,
footer .footer-center,
footer .footer-right {
  display: inline-block;
  vertical-align: top;
}

footer .footer-left {
  width: 40%;
}

footer .footer-left img {
  width: 250px;
}

footer .footer-links {
  color: #241b57;
  margin: 25px 0;
  font-size: 14px;
}

footer .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  padding-right: 2em;
}

footer .footer-company-name {
  color: #ec4357;
  font-size: 14px;
  font-weight: normal;
  margin-top: 30px;
}

footer .footer-center {
  width: 35%;
}

footer .footer-center i {
  background-color: #fff;
  color: #ec4357;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

footer .footer-center p {
  display: inline-block;
  color: #241b57;
  vertical-align: middle;
  margin: 0;
  font-size: 14px;
}

footer .footer-center p span {
  display: block;
  font-weight: normal;
  line-height: 2;
}

footer .footer-center p a {
  color: #241b57;
  text-decoration: none;
}

footer .footer-right {
  width: 20%;
}

footer .footer-connect {
  line-height: 20px;
  color: #241b57;
  font-size: 12px;
  font-weight: normal;
  margin: 0;
}

footer .footer-connect span {
  display: block;
  color: #ec4357;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

footer .footer-icons {
  margin-top: 25px;
}

footer .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 2px;
  font-size: 20px;
  color: #ec4357;
  text-align: center;
  line-height: 35px;
  margin-left: -5px;
}

/* Resoponsiveness */

@media (min-width: 320px) and (max-width: 640px) {
  header {
    padding: 0 !important;
    background: #fff;
  }

  header.active {
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
  }

  header.fixed {
    padding: 0 0;
  }

  header button {
    position: absolute;
    top: 12px;
    right: 25px;
    display: block;
    width: 30px;
    height: 40px;
    padding-top: 6px;
    border: none;
    background: #fff;
  }

  header button span {
    position: relative;
    top: 0;
    display: block;
    width: 100%;
    height: 2px;
    margin-bottom: 5px;
    transition: all 0.25s ease;
    border-radius: 15px;
    background: #0d2366;
  }

  header button span:nth-child(2) {
    right: 0;
    width: 80%;
    opacity: 1;
  }

  header button span:nth-child(3) {
    width: 60%;
  }

  header.active button span:nth-child(1) {
    top: 8px;
    left: -4px;
    -ms-transform: rotate(38deg);
    transform: rotateZ(38deg);
  }

  header.active button span:nth-child(2) {
    right: -100%;
    opacity: 0;
  }

  header.active button span:nth-child(3) {
    top: -6px;
    left: -4px;
    width: 100%;
    -ms-transform: rotate(-38deg);
    transform: rotateZ(-38deg);
  }

  header ul.menu-left {
    display: none;
  }

  header img {
    margin-left: 20px !important;
  }

  header.active ul.menu-left {
    display: block;
    float: none;
    clear: both;
  }

  header.active ul.menu-left li {
    display: block !important;
    padding: 10px 20px;
  }

  header ul.menu-right {
    display: none;
  }

  /* intro responsive */

  #intro {
    max-height: 300px !important;
    text-align: center;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 40px !important;
  }

  #intro .bottom-left-gradient {
    position: absolute;
    z-index: -999;
    left: -12%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(#c779d0, #4bc0c8);
  }

  #intro .top-right-gradient {
    position: absolute;
    z-index: -999;
    top: 14%;
    right: -14%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  #intro .intro-right img {
    width: 380px;
  }

  #intro h1 {
    font-size: 24px !important;
  }

  #intro h1::after {
    margin-left: 180px;
    margin-bottom: 10px;
  }

  #intro .intro-left .intro-cta {
    display: inline-block !important;
  }

  /* about responsive */

  #about {
    text-align: center !important;
    padding: 0 0.5em;
    margin-left: -160px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
  }

  #about .about-left img {
    display: none;
  }

  #about .about-right {
    display: inline-block !important;
  }

  #about .about-right h1 {
    font-size: 24px !important;
  }

  #about .about-right h1::after {
    margin-left: 180px;
    margin-bottom: 10px;
  }

  #about .about-right p {
    font-size: 16px !important;
  }

  #about .about-right a {
    display: inline-block !important;
  }

  #about .top-right-gradient {
    position: absolute;
    z-index: -999;
    top: 62%;
    right: -5%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(#ee9ca7, #ec4357);
  }

  /* banner responsive */

  .page-banner {
    padding: 100px 0;
    text-align: center;
    background-position: center;
  }

  .page-banner h1 {
    font-size: 28px !important;
    font-weight: 700;
  }

  .page-banner h3 {
    font-size: 16px !important;
    margin-top: 10px;
  }

  /* footer responsive */

  footer {
    font: bold 14px;
    padding: 20px 0 !important;
  }

  footer .footer-left,
  footer .footer-center,
  footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }

  footer .footer-links a {
    padding-right: 10px;
  }

  footer .footer-center i {
    display: none;
  }

  footer .footer-connect {
    display: none;
  }
}
#btnScrollToTop{
	position: fixed;
	right: 10px;
	bottom: 10px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #e62739;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	color: #ffffff;
	border: none;
	outline: none;
	cursor: pointer;

}
#btnScrollToTop:active{
	background-color: #cc2333;
	
}
/* End  Media Query For Desktop */
